* {
margin: 0;
padding: 0;
text-decoration: none;
list-style: none;
}
@import './helper/variables';
@import './helper/mixin';
@import './helper/placeholder';
@import './helper/extend';
@import './helper/grid';
@import './helper/nav';
@import './helper/footer';
@import './helper/animation';
@import './helper/about';


body {
    max-width: 1920px;
    margin: auto auto;
    div { 
        max-width: 1620px;
        margin: auto auto;
    }
}

// <!------------------Anne´s Kode--------------------->

// <!------------------Anne´s Kode--------------------->

// <!------------------Runi´s Kode--------------------->

// <!------------------Runi´s Kode--------------------->

// <!------------------Daniel´s Kode--------------------->

// <!------------------Daniel´s Kode--------------------->

// <!------------------Kiki´s Kode--------------------->

// <!------------------Kiki´s Kode--------------------->
